@import 'tailwindcss';
@import "tw-animate-css";

@font-face {
  font-family: 'satoshi';
  src: url(./assets/fonts/Satoshi-Variable.ttf) format('truetype');
}

@theme {
 --color-primary-color:#000000;
 --color-secondary-color:#ffffff;
 --color-success:#01AB31;
 --color-error:#FF3333;
 --color-rating:#FFC633;
 --color-hover: #F0F0F0;
 --color-gray:#F2F0F1;
 --spacing-large:16px;
 --spacing-medium:8px;
 --spacing-small:4px;
}


:root {
  font-family: 'satoshi', sans-serif;
  font-weight: 500;
  font-size: 16px;
}


body {
  padding: 0;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  padding: 0;
  width: 100%;
  margin: 0 auto;
}

